<div class="grid-tile">
    <div class="review-list--single thumbnail">
        <div class="review-list--img">
            <img src="http://placehold.it/150x250">
        </div>
        <div class="review-list--content">
            <h4><%= review.title %></h4>
            <dl>
                <dt>Hip Fit</dt>
                <dl><%= review.hip_fit %></dl>
            </dl>
        </div>
    </div>
</div>